
<strong>Register Page</strong> <br>

<form name="signupForm" ng-submit="$ctrl.submit()">
<!-- First Name: <input ng-repeat="userFN in $ctrl.ep.users track by $index" type='text' ng-model='$ctrl.ep.users[$index].firstName' placeholder='First Name' > <br>
Last Name:  <input ng-repeat="userLN in $ctrl.ep.users track by $index" type='text' ng-model='$ctrl.ep.users[$index].lastName' placeholder='Last Name'> <br> -->
<!-- Company Name: <input type="text" ng-model="$ctrl.ep.name">
Company Description: <input type="text" ng-model="$ctrl.ep.description">
Address Line 1 : <input ng-repeat="addressLine1 in $ctrl.ep.addresses track by $index" type='text' ng-model='$ctrl.ep.addresses[$index].addressLine1' placeholder='Address Line 1' >
Address Line 2 : <input type="text" ng-model="$ctrl.ep.addresses.addressLine2">
Address Line 3 : <input type="text" ng-model="$ctrl.ep.addresses.addressLine3">
City : <input type="text" ng-model="$ctrl.ep.addresses.city">
County : <input type="text" ng-model="$ctrl.ep.addresses.county">
Country : <input type="text" ng-model="$ctrl.ep.addresses.country">
Post Code: <input type="text" ng-model="$ctrl.ep.addresses.postcode"><br>
Category: 
<select ng-model="$ctrl.ep.category" 
        ng-options="category.id as category.name for category in $ctrl.categories">
    <option value="">Select Category</option>
</select>
About Us :  <input type="text" ng-model="$ctrl.ep.aboutUs"> <br>
Service Block Title <input ng-repeat="serviceBT in $ctrl.ep.services track by $index" type='text' ng-model='$ctrl.ep.services[$index].serviceBlockTitle' placeholder='Service Title'><br>
Service Block Body Services: <input ng-repeat="serviceBB in $ctrl.ep.services track by $index" type='text' ng-model='$ctrl.ep.services[$index].serviceBlockBody' placeholder='Service Body:'><br>
<button  type="button" ng-click="$ctrl.addService()">Add Service</button> <br>
Testimonial 1 - From : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromName1"> <br>
Testimonial 1 - Body : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialBody1"> <br>
Testimonial 1 - Url : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromURL1"> <br>
Testimonial 2 - From : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromName2"> <br>
Testimonial 2 - Body : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialBody2"> <br> 
Testimonial 2 - Url : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromURL2"> <br>-->
First Name:  <input type="text" ng-model="$ctrl.ep.user.firstName">
Last Name:  <input type="text" ng-model="$ctrl.ep.user.lastName">
Username:  <input type="text" ng-model="$ctrl.ep.user.username">
Password:  <input type="text" ng-model="$ctrl.ep.user.password">
   <div> <button type="submit">Sign up</button><br>
       </div>
</form>
 <strong>Response</strong><br>
{{$ctrl.resp.sessionToken}}
</div>