<strong>Edit Template</strong></br>

<div ng-repeat="ep in $ctrl.eps">
{{ep.name}}
<div ng-repeat="address in ep.addresses">
{{address.addressLine1}}
<div ng-repeat="cat in ep.categories">
{{cat.id}}

<form name="signupForm" ng-submit="$ctrl.submit($ctrl.eps)">
Company Name: <input type="text" ng-model="ep.name">
Company Description: <input type="text" ng-model="ep.description">
Address Line 1 : <input ng-repeat="addressLine1 in ep.addresses track by $index" type='text' ng-model='ep.addresses[$index].addressLine1' placeholder='Address Line 1' >
Address Line 2 : <input ng-repeat="addressLine2 in ep.addresses track by $index" type='text' ng-model='ep.addresses[$index].addressLine2' placeholder='Address Line 2' >
Address Line 3 : <input ng-repeat="addressLine3 in ep.addresses track by $index" type='text' ng-model='ep.addresses[$index].addressLine3' placeholder='Address Line 3' >
City : <input ng-repeat="city in ep.addresses track by $index" type='text' ng-model='ep.addresses[$index].city' placeholder='City' >
County : <input ng-repeat="county in ep.addresses track by $index" type='text' ng-model='ep.addresses[$index].county' placeholder='County' >
Country : <input ng-repeat="country in ep.addresses track by $index" type='text' ng-model='ep.addresses[$index].country' placeholder='Country' >
Post Code: <input ng-repeat="postCode in ep.addresses track by $index" type='text' ng-model='ep.addresses[$index].postCode' placeholder='Post Code' ><br>
Category: 

<select ng-model="cat.id" 
        ng-options="category.id as category.name for category in $ctrl.categories">
    <option value="">Select Category</option>
</select>

Service Block Title <input ng-repeat="serviceBT in $ctrl.ep.services track by $index" type='text' ng-model='$ctrl.ep.services[$index].serviceBlockTitle' placeholder='Service Title'><br>
Service Block Body Services: <input ng-repeat="serviceBB in $ctrl.ep.services track by $index" type='text' ng-model='$ctrl.ep.services[$index].serviceBlockBody' placeholder='Service Body:'><br>
<button  type="button" ng-click="$ctrl.addService()">Add Service</button> <br>
Testimonial 1 - From : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromName1"> <br>
Testimonial 1 - Body : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialBody1"> <br>
Testimonial 1 - Url : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromURL1"> <br>
Testimonial 2 - From : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromName2"> <br>
Testimonial 2 - Body : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialBody2"> <br> 
Testimonial 2 - Url : <input type="text" ng-model="$ctrl.ep.testimonials.testimonialFromURL2"> <br>
   <div> <button type="submit">Sign up</button><br>
       </div>
</form>

</div>
</div>
</div> 