  <span ng-click="myFilter = 'vet'">Vet</span> | 
  <span ng-click="myFilter = 'chiro'">Chiro</span> |
  <span ng-click="myFilter = null">No filter</span>
  
<div ng-repeat="ep in $ctrl.eps | filter:myFilter">
             <div><strong>{{ep.name}} </strong> <br></div>
             </div>
<div class="ep-list-template">
<div class="main-image">
<img src="http://localhost:8080/images/horses-in-sea-cropped.jpg">

<span> <h1> Search: <input ng-model="$ctrl.query" />
</div>
      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="id">Newest</option>
        </select>
      </p>
        <div ng-repeat="ep in $ctrl.eps | filter:$ctrl.query | filter:myFilter   |  orderBy:$ctrl.orderProp" >
             <div><strong><a href="#!/eps/{{ep.id}}">{{ep.name}}</a> </strong> <br></div>
          <div ng-repeat="addr in ep.addresses " >
        {{addr.addressLine1}}</br>
          {{addr.addressLine2}}</br>
           {{addr.city}}</br><br>
           <div ng-repeat="cat in ep.categories " >
        {{cat.name}}</br>
        <div ng-repeat="md in ep.metadata | filter:{id: 1}:true " >
        <a href="#!/eps/{{ep.id}}" class = "thumbnail">
        	<img ng-src="{{md.metaDataValue}}" alt="{{ep.name}}" /> </a>
</div>      
</div>

        