<div class="ep-list-template">
<div class="main-image">
<img src="http://localhost:8080/images/horses-in-sea-cropped.jpg">
<span> <h1> Search: <input ng-model="$ctrl.query" />
</div>



      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="id">Newest</option>
        </select>
      </p>




      
        <div ng-repeat="ep in $ctrl.eps | filter:$ctrl.query | orderBy:$ctrl.orderProp" style="display:inline">
        <div style="display:inline"><strong>{{ep.name}} </strong> <br></div>
          <div ng-repeat="addr in ep.address | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        {{addr.addressLine1}}</br>
          {{addr.addressLine2}}</br>
           {{addr.city}}</br><br>
           <div ng-repeat="cat in ep.category | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        {{cat.name}}</br>
           
         
        </div>
      
</div>